body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

header {
    position: fixed;
    display: flex;
    background-color: darkgray;
    height: 40px;
    width: 100vw;
    /* justify-content: center; */
    /* align-items: center; */
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
}

article {
    width: 80vw;
}

.open, .close, input[type="checkbox"] {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sideList {
    width: 200px;
    min-width: 100px;
    padding: 0;
    margin-left: auto;
}

aside {
    position: absolute;
    height: 100vh;
    width: inherit;
    display: flex;
    flex-direction: column;
    background-color: darkorange;
    margin-top: 40px;
}

.sideFooter {
    height: 200px;
    margin-top: auto;
}

@media screen and (max-width: 1000px) {
    .open, .close, input[type="checkbox"] {
        display: block;
    }

    .open {
        position: fixed;
        right: 5px;
        top: 5px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .open span, .open span::before, .open span::after {
        position: absolute;
        display: block;
        content: "";
        height: 2px;
        width: 30px;
        top: 15px;
        border-radius: 10px;
        background-color: #000000;
    }

    .open span::before {
        top: -10px;
    }

    .open span::after {
        top: 10px;
    }

    input[type="checkbox"] {
        position: absolute;
        left: -20px;
    }

    .close {
        text-align: right;
    }

    .sideList {
        position: absolute;
        right: -250px;
        transition: 0.5s;
        height: 100vh;
    }

    aside {
        margin-top: 0;
    }

    article {
        width: 100vw;
    }

    input[type="checkbox"]:checked ~ .sideList {
        position: absolute;
        background-color: #ffffff;
        right: 0;
    }

    input[type="checkbox"]:checked ~ .open {
        display: none;
    }

    input[type="checkbox"]:checked ~ .back {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.8);
    }

}